{
  "phase1": {
    "num_nodes": 1,
    "cluster_name": "",
    "cloud_provider": "azure",
    "azure": {
      "image_publisher": "canonical",
      "image_offer": "ubuntuserver",
      "image_sku": "16.04.0-LTS",
      "image_version": "latest",
      "master_vm_size": "Standard_DS4_v2",
      "node_vm_size": "Standard_DS4_v2",
      "master_private_ip": "10.240.1.4",
      "location": "westus2",
      "admin_username": "kube",
      "admin_password": "",
      "tenant_id": "",
      "subscription_id": "",
      "client_id": "",
      "client_secret": "",
      "use_premium_storage": true,
      "use_ephemeral_drive": false
    }
  },
  "phase2": {
    "installer_container": "docker.io/colemickens/install-k8s:v2",
    "docker_registry": "gcr.io/google_containers",
    "kubernetes_version": "v1.4.0-alpha.2"
  },
  "phase3": {
    "run_addons": true,
    "kube_proxy": true,
    "dashboard": true,
    "heapster": true,
    "kube_dns": true
  }
}
